.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;
  font-size: small;
}

.card_produto{
  width: 350px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 100px;
  box-shadow: 0 4px 4px 2px #00000025;
}

.card_produto img{
  width: 70%;
}

.card_produto p,
.card_produto span{
  font-size: 18px;
  width: 90%;
}
