* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", system-ui;
}

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

/* header {
    width: 100%;
    height: 60px;
    background-color: #1B5C88;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 4px 2px #00000025;
}

header svg.user {
    right: 20px;
    width: 30px;
    color: #000000;
    cursor: pointer;
} */

body {
    background-color: #9EA4B0;
}

.main_home {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.secao_logo {
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: space-between;
    align-items: center;
}

.secao_logo svg {
    width: 240px;
    margin-top: 50px;
}

.secao_logo img {
    width: 500px;
}

.secao_logo img.DomusEletro {
    width: 300px;
    margin-top: 150px;
    margin-right: 77px;
}

.secao_categorias {
    width: calc(100% - 360px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    margin-bottom: 50px;
}



.whatsapp {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: transform 0.5s ease-in-out,
        filter 0.5s ease-in-out;
}

.whatsapp img {
    width: 80px;
    filter: drop-shadow(0 5px 1px #00000025);
}

.whatsapp:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 10px 2px #00000025);
}

/* MEDIA */
@media screen and (max-width: 1050px) {
    .main_home {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .secao_logo {
        position: relative;
        margin-top: 50px;
    }

    .secao_logo svg {
        position: absolute;
        top: 230px;
        background-color: #D9D9D9;
        padding: 10px 40px 5px;
        border-radius: 20px;
        box-shadow: 0 4px 4px 2px #00000025;
    }

    .secao_logo img {
        width: 200px;
        margin-left: 10px;
    }
    .secao_logo img.DomusEletro {
        width: 200px;
        margin-top: 100px;
        margin-right: 0;
    }

    .secao_cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        margin-top: 32px;
    }
    .secao_cards .card_categoria {
        flex: 1 1 220px;
        max-width: 260px;
        min-width: 180px;
        margin: 0 8px 24px 8px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }


}
