/* RODAPE */
footer {
    width: 100%;
    height: 60px;
    background-color: #1B5C88;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: "manrope", system-ui;
    text-align: center;
    color: #FFFFFF;
}