* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", system-ui;
}

:root {
  --corBackground: #d6dae4;
  --corPrincipal: #1B5C88;
  --corFontClara: #FFFFFF;
  --corFontEscura: #000000;
  --alturaRodape: 60px;
  --contComplementar:"Manrope", sans-serif;
}

body{
  background-color: var(--corBackground);
}
